body{
    background: white;
}
wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}
.flex-container{
    display: flex;
    background: white;
    flex-wrap:wrap;
    flex-flow: row;
    flex-grow: 1;
    justify-content: space-between;
}
.box{
    height: 100px;
    width: 100px;
    flex:0 0 100px;
    row-gap:20px;
}
.one{
    background:red;

}
.two{
    background:blue;
}
.three{
    background: greenyellow;
}

/*body{
    background: white;
}
wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}
.flex-container{
    display: flex;
    background: white;
    flex-wrap:wrap;
    flex-flow: row;
    flex-grow: 1;
    flex-direction: row-reverse;
    justify-content: left;


}
.box{
    height: 100px;
    width: 100px;
    flex:0 0 100px;
   

}
.one{
    background:red;

}
.two{
    background:blue;
}
.three{
    background: greenyellow;
}*/
/*body{
    background: white;
}
wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}
.flex-container{
    display: flex;
    background: white;
    flex-wrap:wrap;
    flex-flow: row;
    flex-grow: 1;
    justify-content:space-around;
}
.box{
    height: 100px;
    width: 100px;
    flex:0 0 100px;
    row-gap:20px;
}
.one{
    background:red;

}
.two{
    background:blue;
}
.three{
    background: greenyellow;
}*/
