/*.error{
        color:red;

}
.success{
        color:violet;
}

.success.feedback{
        border: 2px dashed blue;
}
#content{
        background-color: greenyellow;
        padding: 3px;
}
div .error{
    color: brown;
}*/
/* a[href="https://www.thenetninja.co.uk"] {
    background-color: rgb(117, 228, 117);
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
a[href*="google"]         /*a[href$=".com"]{ */
/*{
    color: white;
    background: red;
    border: 2px blue;
} */
div{
    color: pink;
    border:3px solid grey;
    margin: 50px;
    font-weight: bold;
}
div p{            /*inside div then use div p*/
    border: inherit;
    margin:inherit;
    color:brown;

}
p{
    color:orange;
}